# Test Environment

## Hosted MySQL and Workbench
In the long-term, the best alternative is to have MySQL installed in your own PC.

### Installer for Microsoft Windows
You can download the Installer for Microsoft Windows from this link:

[MS Windows Installer](https://dev.mysql.com/downloads/installer/)

Select the lightweight installer (around 2.3Mb), and click Download. You do not need to create an Oracle account, click
on "No thanks, just start my Download" instead.

Open the installer, you will have to provide administration privileges to make changes in your computer. Select the
Developer configuration option, that will install both MySQL service and MySQL Workbench in your computer.

Follow the instructions, eventually you will be asked to select the encryption method. Select the "Use Legacy
Encryption" method recommended for a test environment.
You will also be asked to enter a password for the user root, enter a password for the service.
When the installation is completed, you can launch the services control panel app to check whether your service is up
and running, just look for "Services" in your language in windows and look for the MySQL service and make sure it is
started. You may shut it down when you are not using it.

Now, you can look for and open Workbench in your system. You should have a connection to a local server:

![MySQL workbench](../img/mysql_workbench.png)

Enter the password you configured during the installation process and you are good to go!

### Installer for Mac OS X
Download the installer for MAC OS from this link:

[MAC OS Installer](https://dev.mysql.com/doc/refman/8.0/en/macos-installation-pkg.html)

Follow the installation steps, just as in windows, eventually you will be asked to select the encryption method. Select the "Use Legacy
Encryption" method recommended for a test environment.
You will also be asked to enter a password for the user root, enter a password for the service.

Once the installation is completed, the service is available in your platform. Note that, if you chose to not start
MySQL, you will need to enter launchctl from the command line or start MySQL by clicking "Start" using the MySQL
preference pane to start it.

You should install MySQL Workbench as well, using the info in this link:

[Workbench](https://dev.mysql.com/doc/workbench/en/wb-installing-mac.html)

Once you installed it, as in Windows, create a connection to your local service, making sure it is started! Use the
password you set during the installation process and you are ready to go!


### Install test databases
Once you have installed MySQL and Workbench, you can install the test databases. You can download the test databases from this folder:

[MySQL Test Databases](../test_databases)

Just download the zip file, and unzip it in a folder of your choice. Once you have created a connection, just head to the menu **Server -> Data Import**. In the Data Import,
click on the 'Import from self-contained file', select the test database you want to import the data input, and click on **Start Import**. The following screenshot shows the process for the car_retail database:

![MySQL workbench](./img/Database%20Import.PNG)

Make sure you select the option 'Dump Structure and Data' to import the data as well. Once the import is completed, you can check that the database is available in the **SCHEMAS** tab in the left bar.

### Visual Code Extensions
If you are using Visual Code, you can install the following extensions to work with MySQL:
- [SQLTools](https://marketplace.visualstudio.com/items?itemName=mtxr.sqltools): This extension will allow you to manage connections to different databases, and execute queries from your visual code editor.

- [SQLTools MySQL/MariaDB/TiDB](https://marketplace.visualstudio.com/items?itemName=mtxr.sqltools-driver-mysql): This extension will allow you to create connections to MySQL databases.

To install them, just open the extensions tab in Visual Code, and search for the extension name. Click on install and you are ready to go!

#### Create a connection
Once you have installed SQL Tools, you can create a connection to your database. Click on the SQLTools icon in the left bar (probably the last item in the menu), and click on the + icon to create a new connection. Select MySQL as the database type, and enter the connection details. The following screenshot shows the connection details for a local MySQL database:

![SQLTools connection](./img/vs_extensions.PNG)


## SQL Magic
Another alternative is to use Jupyter Notebooks, Pandas dataframes SQL magic. To enable the SQL magic first you need to install some libraries:

In [ ]:
%pip install sqlalchemy

%pip install ipython-sql
%pip install pymysql

[SQLAlchemy](https://www.sqlalchemy.org/) is used to create Python objects from the data fetched from your database. iPython-SQL installs the magic function, and [pymysql](https://pymysql.readthedocs.io/en/latest/) is the library used to provide support to connect to SQL databases.

### Create an engine with SQL Alchemy
First, we need to create a connection to our database, using the ```create_engine``` function of SQLAlchemy ([read the docs](https://docs.sqlalchemy.org/en/20/core/engines.html)). We need to provide the connection details to be able to access the database:

In [4]:
from sqlalchemy import create_engine

# Create your engine.
engine = create_engine("mysql+pymysql://root:your_password@localhost/car_retail")

The syntax to connect to a MySQL engine with pyMySQL is:

```mysql+pymysql://<username>:<password>@<host>[:port]/<dbname>[?<options>]```

- <username> is the user name to connect to the database (root in the example)
- <password> is the password of the user name provided (your_password in the example)
- <host> is the name of the host you need to connect to (localhost in the example)
- [:<port>] is an optional parameter you need to add if your database engine is running in a different port (other than the default 3306
- <dbname> is the name of the database you want to connect to (you need to set up an engine per database)
- [?<options>] are additional options you can pass to the database connection

Once you have created to your engine, you can create a connection and fetch data. The main methods you can use with Pandas are

### read_sql_table
Read SQL allows to fetch all the data from a SQL table and load it to a dataframe. You only need to open a connection with an engine, and use the name of the table as an argument:

In [10]:
import pandas as pd
with engine.connect() as conn, conn.begin():
    cars_pd = pd.read_sql_table("cars", conn) #there is a table named cars in the database
    print(cars_pd.head())

   Id  CustomerId  EmployeeId         Model   Status  TotalCost
0   1           1           2    Ford F-150    READY      23000
1   3           2           1  Ford Mustang  WAITING      10000
2   4           3           3  Toyota Prius  WORKING       5000
3   5           3           1  Ford Mustang  WORKING      10000

### read_sql_query
Similar to the function below, you can use the function ```read_sql_query``` to fetch the data using a SQL query:

In [11]:
with engine.connect() as conn, conn.begin():
    cars_pd = pd.read_sql_query("SELECT Id, CustomerId, Model, TotalCost, Status FROM Cars WHERE EmployeeId = 1", conn) #there is a table named cars in the database
    print(cars_pd.head())

   Id  CustomerId         Model  TotalCost   Status
0   3           2  Ford Mustang      10000  WAITING
1   5           3  Ford Mustang      10000  WORKING

### SQL Magic Syntax
You are now probably thinking, cool, but where is the magic? Well, the SQL magic is a modifier that will allow us to simplify the syntax used above. To use it, first we need to load it with:

In [12]:
%load_ext sql

Once the magic is loaded, we can connect to a database simply by using the SQL magic prefix ```$sql``` and the connection string using the same syntax above:

In [13]:
%sql mysql+pymysql://root:localhost@localhost/car_retail

Now, you can fetch data from the database just writing the magic before the query. For instance, to save the result from the query above in a variable we can just use:

In [14]:
result = %sql SELECT Id, CustomerId, Model, TotalCost, Status FROM Cars WHERE EmployeeId = 1
result

 * mysql+pymysql://root:***@localhost/car_retail
2 rows affected.

[(3, 2, 'Ford Mustang', 10000, 'WAITING'),
 (5, 3, 'Ford Mustang', 10000, 'WORKING')]

We can then convert the result to a dataframe using the method ```Dataframe``` of the result object:

In [16]:
cars_pd = result.DataFrame()
cars_pd.head()

   Id  CustomerId         Model  TotalCost   Status
0   3           2  Ford Mustang      10000  WAITING
1   5           3  Ford Mustang      10000  WORKING

#### Multiple lines syntax
Sometimes we want to format our SQL query to span several lines of codes for the sake of readability. In this cases, we can use the multiline syntax using the ```<<``` operator in the SQL magic, as:

In [17]:
%%sql result_2 <<
SELECT
    Id,
    CustomerId,
    Model,
    TotalCost,
    Status
FROM Cars
WHERE EmployeeId = 1;

 * mysql+pymysql://root:***@localhost/car_retail
2 rows affected.
Returning data to local variable result_2

Now in another cell we can convert the result to a Pandas dataframe as

In [ ]:
cars_pd = result_2.DataFrame()
cars_pd.head()

## Docker Playground
The test environment in Docker Playground allows us to experiment with SQL using MySQL an [Docker](https://www.docker.com/). Docker is becoming
the industry standard for containerisation: a Technology that allows to easily and efficiently deploy applications
using *lightweight virtual machines* called containers.
In this practice, you will deploy two services (or microservices) in Docker Playground:
- A [MySQL](https://www.mysql.com/) database service with the test databases in the test database folder.
- A web administration interface, [adminer](https://www.adminer.org/).

You will then connect to the web interface of adminer to run your SQL queries.
### Requirements
For this environment you need an Internet connection and a **Docker hub account**. To create a Docker hub account, just
go to [Docker Hub](https://hub.docker.com/), and sign up with a valid email address.

### Steps
Click on the button below to start the test environment:

[![Try in PWD](https://raw.githubusercontent.com/play-with-docker/stacks/master/assets/images/button.png)](https://labs.play-with-docker.com/?stack=https://raw.githubusercontent.com/ffraile/database_tutorials/master/test_databases/stack.yml)

Docker Playground will ask for your Docker credentials to login. Once you enter your credentials, playground will be
ready to start:

![docker node ready](https://raw.githubusercontent.com/ffraile/database_tutorials/master/img/docker_start_button.png)

When you click on start, Docker Playground will start building the services for the database and the adminer management
frontend. The building process might take a while, so a bit of patience is needed at this stage:

![docker stack building](https://raw.githubusercontent.com/ffraile/database_tutorials/master/img/stack_builder.png)

**WARNING**: When the building is done, a click button will appear. The click button might be a little bit tricky to click,
depending on your browser. If you canÂ´t click it, you can just refresh the page and ignore the message.
At this point you are able to access your docker environment in PWD. The easiest way to access it is to click
on the **8080** link to the adminer frontend:

![docker node ready](https://raw.githubusercontent.com/ffraile/database_tutorials/master/img/docker_node_ready.png)

Once you click on the link, you will access the adminer frontend, where you need to enter the credentials to connect to
the MySQL service:
- user name: root
- password: mysql_is_awesome

![login to adminer](https://raw.githubusercontent.com/ffraile/database_tutorials/master/img/login_to_adminer.png)

Once you are in adminer, you can use its user interface to import the test database files and do the exercises. Just
copy the raw contents of the test database you want to load and enter it in the *SQL Command* input text field:

![create database](https://raw.githubusercontent.com/ffraile/database_tutorials/master/img/command_sql.png)

Now, you can select the database, and click on *SQL Command* to enter again your search query.

![query](https://raw.githubusercontent.com/ffraile/database_tutorials/master/img/command_sql_2.png)

Enjoy!

## SQL Fiddle
[SQL Fiddle](http://sqlfiddle.com/) is a simple yet powerful environment you can use to set up a test environment for
SQL really fast and test your code.
### Requirements
No requirements

### Steps
In the web interface, in the panel to the left, you need to enter the ```CREATE TABLE```
and ```INSERT INTO``` statements to create your tables and insert your rows.

![query](https://raw.githubusercontent.com/ffraile/database_tutorials/master/img/sql_fiddle.png)

To load a database into this panel, just copy the contents of the SQL file you want to test, paste the content of the
file into the left panel and **delete** the `` CREATE DATABASE`` statements. For instance, for the car_retail test
database, the page should look something like this:

![query](https://raw.githubusercontent.com/ffraile/database_tutorials/master/img/sql_fiddle_2.png)

Now, click on the **Build Schema** button. The right panel should be now enabled. In this panel you can now enter your
search queries and start fiddling with SQL:

![query](https://raw.githubusercontent.com/ffraile/database_tutorials/master/img/sql_fiddle_3.png)