# Data Manipulation



<span style="color:darkred"> :Suggestion: this may be added to the already written chapter until the saving dataframse as csv  </span>

In [11]:
import pandas as pd

# How to read a csv file from a url

In [12]:
url = 'https://raw.githubusercontent.com/ffraile/computer_science_tutorials/main/source/Data%20Manipulation/exercises/datasets/covid.csv'

In [13]:
covid_csv = pd.read_csv(url)
covid_csv.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

# Creating DataFrame from a subset of columns of CSV file



Sometimes the dataframes you are working with may contain dozens of columns and you may need only 3 for your task.

- In these case you need to specify a subset of the columns of interest and import only those.
In our case we are interested for Date, Country and Deaths. 

```
pd.read_csv(url, sep= "seperator COMMA in our case", usecols = "specified_desired_colm")

```

In [14]:
cols = ["Date", "Country", "Deaths"]
death_cases = pd.read_csv(url, sep = ',', usecols = cols)

death_cases.head()

         Date      Country  Deaths
0  2020-01-22  Afghanistan       0
1  2020-01-23  Afghanistan       0
2  2020-01-24  Afghanistan       0
3  2020-01-25  Afghanistan       0
4  2020-01-26  Afghanistan       0

## Saving DataFrame as CSV File

While working with huge datasets, you may create new datasets with different filtering and manipulations. 
In order to make use of these kinds of manipulations, you can save your new dataset in a csv file by using: 
```
df.to_csv("desired_path_to_save/file_name.csv")
```

If you want to save in the same folder you are currently working (working directory), you can just add 
```
(~/name_you_want_to_save.csv)
```

In [5]:
death_cases.to_csv('~/death_cases_from_covid.csv')

<span style="color:darkred"> :Suggestion: this may be a separate notebook and include at the data understanding chapter because this is data understanding  </span>

# Data Understanding


### Analyse your dataset 

Whenever you work with new datasets, you need to be informed about the content of your dataset, how many columns does it contain, what are the datatypes of each of the columns and so on. 
Pandas have some function which will help you

#### ```dataframe_name.info() ``` returns information about the datasets such as:
- Range Index (how many entries)
- Index dtype and columns
- Non-null values
- Memory usage

In [9]:
covid_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143668 entries, 0 to 143667
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       143668 non-null  object
 1   Country    143668 non-null  object
 2   Confirmed  143668 non-null  int64
 3   Recovered  143668 non-null  int64
 4   Deaths     143668 non-null  int64
dtypes: int64(3), object(2)
memory usage: 5.5+ MB

##### Basic Statistics (mean, std, min, max, 1st 2nd 3rd Quartiles) of the Columns whose type is NUMERIC

- ```dataframe_name.describe() ``` 

<span style="color:darkred"> :Question: Should I give an explanation for each of them? what are them and so on or is this enough  </span>

In [7]:
covid_csv.describe()

          Confirmed     Recovered         Deaths
count  1.436680e+05  1.436680e+05  143668.000000
mean   5.712247e+05  1.635121e+05   12306.660189
std    2.838398e+06  1.032340e+06   52910.346456
min    0.000000e+00  0.000000e+00       0.000000
25%    9.100000e+02  0.000000e+00      13.000000
50%    1.749300e+04  7.240000e+02     289.000000
75%    2.060302e+05  2.687300e+04    3647.000000
max    7.069942e+07  3.097475e+07  866540.000000

#### ```dataframe_name.dtypes() ``` -> outputs the datatypes of the attributes(columns)

In [10]:
covid_csv.dtypes

Date         object
Country      object
Confirmed     int64
Recovered     int64
Deaths        int64
dtype: object