# Exercise 1
A restaurant wants to implement a database to manage table reservations, customer orders, and their menu.

Tables in the restaurant are identified by table numbers and have varying capacities. Customers can make reservations, providing their names, contact details, and the date and time for their reservation.

The menu consists of dishes, each with a unique identifier, name, category (e.g., appetizer, main course), and price. Orders keep track of what dishes were ordered by each table, the quantity of each dish, and the total price of the order.

Design a database schema that will allow the restaurant to manage reservations and orders efficiently, capturing all relevant information and relationships.

## Solution

A possible solution is shown in the following figure:

![La Paella Restaurant](../../Databases/Extra%20Exercises/img/la_paella_restaurant..png)

This solution uses a many-to-many relationship between the ```orders``` and ```menu``` tables. This is because each order can contain multiple dishes, and each dish can be part of multiple orders. The ```order_items``` table is a junction table that connects the two tables. The total price of each order is stored in the ```orders``` table, and the quantity of each dish is stored in the ```order_items``` table. This design avoids storing redundant information in the ```menu``` table. We could have additional columns in the ```order``` table, like the tip, or the level of satisfaction. The colum ```order_date``` is also included, although it is not part of the requirements. It is however a good practice and it is useful for the restaurant to know when the order was made.


The following code snippet shows the SQL code to create the tables for the restaurant database:

```mysql
-- CREATE dTABASE LaPaella-Restaurant
CREATE DATABASE La_Paella_Restaurant;

USE LaPaella_Restaurant;

-- Create table restaurant_tables
CREATE TABLE restaurant_tables (
    table_id INT PRIMARY KEY,
    capacity INT NOT NULL
);

-- Create customer table
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    phone VARCHAR(20) NOT NULL,
    email VARCHAR(50) NOT NULL
);

-- Create reservations table
CREATE TABLE reservations (
    reservation_id INT PRIMARY KEY,
    customer_id INT NOT NULL,
    table_id INT NOT NULL,
    reservation_date DATETIME NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customers (customer_id),
    FOREIGN KEY (table_id) REFERENCES restaurant_tables (table_id)
);

-- Create menu table
CREATE TABLE menu (
    dish_id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    category VARCHAR(20) NOT NULL,
    price DECIMAL(5,2) NOT NULL
);

-- Create orders table
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    table_id INT NOT NULL,
    order_date DATETIME NOT NULL,
    total_price DECIMAL(5,2) NOT NULL,
    FOREIGN KEY (table_id) REFERENCES restaurant_tables (table_id)

);

-- Create order_items table
CREATE TABLE order_items (
    order_item_id INT PRIMARY KEY,
    order_id INT NOT NULL,
    dish_id INT NOT NULL,
    quantity INT NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders (order_id),
    FOREIGN KEY (dish_id) REFERENCES menu (dish_id)
);

```






# Exercise 2
You are designing a database for a smart irrigation system intended for use in large-scale farming. This system uses sensor data to optimize watering schedules for different crops to conserve water while ensuring optimal growth conditions.


- **Sensors:** Each sensor has a unique identifier, type (e.g., soil moisture, temperature), location (field coordinates or zone), and installation date. Sensors send readings at regular intervals.

- **Fields:** Each field where the crops are grown has a unique identifier, size (in acres), type of crop grown, and location.

- **Irrigation Schedules:** This includes a unique schedule ID, the field it applies to, start and end times for irrigation, and the amount of water used (in gallons or liters).

- **Sensor Readings:** Store readings from each sensor, including the sensor ID, timestamp of the reading, and the value (e.g., moisture level, temperature).

- **Crops:** Information about different types of crops includes a unique crop ID, name, optimal soil moisture range, optimal temperature range, and growth period.

- **Maintenance Records:** Keep track of maintenance activities for the irrigation system and sensors, including dates, types of maintenance (e.g., repair, calibration), and personnel involved.

Develop a database schema for the smart irrigation system. The design should facilitate queries to determine irrigation needs based on sensor readings, track crop growth conditions, and manage maintenance schedules for the irrigation system.

## Solution
The following figure shows the database model of the irrigation system database:

![Irrigation system](../../Databases/Extra%20Exercises/img/irrigation_system.png)


The following code snippet shows the SQL code to create the tables for the irrigation system database:

```mysql
-- Create database irrigation_system
CREATE DATABASE irrigation_system;

USE irrigation_system;



-- Create table crops
CREATE TABLE crops (
    crop_id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    optimal_soil_moisture DECIMAL(5,2) NOT NULL,
    optimal_temperature DECIMAL(5,2) NOT NULL,
    growth_period_start DATE NOT NULL,
    growth_period_end DATE NOT NULL
);

-- Create table fields
CREATE TABLE fields (
    field_id INT PRIMARY KEY,
    size DECIMAL(5,2) NOT NULL,
    crop_id INT NOT NULL,
    location VARCHAR(50) NOT NULL,
    FOREIGN KEY (crop_id) REFERENCES crops (crop_id)
);

-- Create table sensors
-- Create table sensors
CREATE TABLE sensors (
    sensor_id INT PRIMARY KEY,
    field_id INT NOT NULL,
    type VARCHAR(20) NOT NULL,
    location VARCHAR(50) NOT NULL,
    installation_date DATE NOT NULL,
    FOREIGN KEY (field_id) REFERENCES fields (field_id)
);

-- Create table irrigation_schedules
CREATE TABLE irrigation_schedules (
    schedule_id INT PRIMARY KEY,
    field_id INT NOT NULL,
    start_time DATETIME NOT NULL,
    end_time DATETIME NOT NULL,
    water_used DECIMAL(5,2) NOT NULL,
    FOREIGN KEY (field_id) REFERENCES fields (field_id)
);

-- Create table sensor_readings
CREATE TABLE sensor_readings (
    reading_id INT PRIMARY KEY,
    sensor_id INT NOT NULL,
    timestamp DATETIME NOT NULL,
    value DECIMAL(5,2) NOT NULL,
    FOREIGN KEY (sensor_id) REFERENCES sensors (sensor_id)
);

-- Create table maintenance_records
CREATE TABLE maintenance_records (
    record_id INT PRIMARY KEY,
    sensor_id INT NOT NULL,
    maintenance_date DATE NOT NULL,
    maintenance_type VARCHAR(20) NOT NULL,
    personnel VARCHAR(50) NOT NULL,
    FOREIGN KEY (sensor_id) REFERENCES sensors (sensor_id)
);
```

The model complies with all the specifications. In addition, a foreign key constraint is added to the ```sensors``` table, to know in which field each sensor is installed, and to ensure that the ```field_id``` exists in the ```fields``` table. 


# Exercise 3
The following figure shows the database model of a database of Santa`s Christmas letters:

![Data base model](../../Databases/Extra%20Exercises/img/santa.png)

1. Write a ```SELECT``` query to count the numbers of items in every present list.

The result should be:
```mysql
SELECT presentListFk, COUNT(*) AS number_of_items
FROM presentlistitems
GROUP BY presentListFk;
```


2. Write a ```SELECT``` query to count the number of present lists that are issued from an address in the year 2023

The result should be:
```mysql
SELECT COUNT(*) AS number_of_present_lists
FROM presentlist pl
LEFT JOIN child c ON pl.childFk = c.childId
where c.address = '123 Candy Cane Lane' AND pl.presentYear = 2020;

```