## Try me
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ffraile/computer_science_tutorials/blob/main/source/Databases/class%20exercises/1.%20Introduction%20to%20SQL.ipynb)[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/ffraile/computer_science_tutorials/main?labpath=source%2FDatabases%2Fclass%20exercises%2F1.%20Introduction%20to%20SQL.ipynb)
In these exercises, you must use SQL queries to answer the questions. Enter your SQL statements in the corresponding markdown cell.

**1.** Create a database named edem_programming
```sql
-- Insert you answer here
```

**2.** Create a table named Students. Students must have an identifier, a name, a continuous evaluation grade, and a written exam grade. You may add additional information elements you consider important. Choose the best type for each field in your data model.
```sql
-- Insert you answer here
```

**3.** Insert into the table several rows of students. This is your chance to grade your individual performance on the course.
```sql
-- Insert you answer here
```

**4.** Design a select query to select all students that have a continuous evaluation grade higher than five
```sql
-- Insert you answer here
```

**5.** Design a select query to select all students that pass the course (continuous evaluation higher than five and written examination higher than five)
```sql
-- Insert you answer here
```