## Try me
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ffraile/computer_science_tutorials/blob/main/source/Databases/class%20exercises/2.%20Indexing%20and%20Join%20Operations.ipynb)[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/ffraile/computer_science_tutorials/main?labpath=source%2FDatabases%2Fclass%20exercises%2F2.%20Indexing%20and%20Join%20Operations.ipynb)

In these exercises you are going to work with the car_retail.sql database in the folder test_databases. Copy the contents of the file in your test environment and execute it. Then, build queries as instructed in the exercises below and copy your answers in the markdown cells provided.

1. Write down a select query using a join statement to return, for each employee, the name of the department, and the first and last name of each employee.
```mysql
SELECT d.name, e.fname, e.lname 
FROM employees e 
LEFT JOIN departments d ON e.departmentId = d.id;
```

2. Write down a Select query using a join statement to return, for each department, the name of the department. If the department has any employees, it should return the last name of each employee in different records, in a column named employee_last_name. If the department does not have any employee, then this column should be empty.
```sql
SELECT d.name, e.lname AS employee_last_name
FROM departments d
LEFT JOIN employees e ON e.departmentId = d.id;
```

3. Write down a select query using a join statement to return, for each car, the model of the car, the first name and last name of the customer, and the first name and last name of the employee that sold the car.
```sql
SELECT c.model, cu.fname AS customer_fname, cu.lname AS customer_lname, e.fname AS employee_fname, e.lname AS employee_lname
FROM cars c
LEFT JOIN customers cu ON c.customerId = cu.id
LEFT JOIN employees e ON c.employeeId = e.id;
```

4. Write down a select query using a join statement to return, for each manager, the first name and last name of the manager, and the first name and last name of the employees that work for the manager.
```sql
SELECT m.fname AS manager_fname, m.lname AS manager_lname, e.fname AS employee_fname, e.lname AS employee_lname
FROM employees m
LEFT JOIN employees e ON e.managerId = m.id;
```

In these exercises you are going to work with the book_authors.sql database in the folder test_databases. Copy the contents of the file in the schema panel and click 
**build schema**. Then, build queries as instructed in the exercises below:

5. write down a select query that returns the title of the book and the name of the corresponding author
```sql
SELECT 
	b.title, 
    a.name 
FROM authors a
left join booksauthors ba on a.ID = ba.authorID
left join books b on ba.bookID = b.ID;```