## Try me
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ffraile/computer_science_tutorials/blob/main/source/Databases/class%20exercises/4.%20Sorting%20and%20grouping.ipynb)[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/ffraile/computer_science_tutorials/main?labpath=source%2FDatabases%2Fclass%20exercises%2F4.%20Sorting%20and%20grouping.ipynb)
In these exercises you are going to work with the car_retail.sql database in the folder test_databases. Copy the contents of the file in the schema panel and click
**build schema**. Then, build queries as instructed in the exercises below:

1. Write down a query that returns the rows in the table cars sorted by employeeId and Status.

```mysql
SELECT * FROM cars ORDER BY employeeId, Status;
```

2. Write down a query that returns the rows in the table Employees sorted by department name and hiring date.
```mysql
SELECT * FROM employees ORDER BY departmentId, hireDate;
```

3. Write down a query that returns the average, standard_deviation, maximum, and minimum salary, and the maximum and minimum hiring dates across employees.

```mysql
SELECT AVG(salary), STDDEV(salary), MAX(salary), MIN(salary), MAX(hireDate), MIN(hireDate) FROM employees;
```

4. Write down a query that returns the average totalCost of cars grouped by employee.

```mysql
SELECT employeeId, AVG(totalCost) FROM cars GROUP BY employeeId;
```

5. Write down a query that returns the average difference between the totalCost of a car and the salary of the employee that made the sell. 

```mysql
SELECT employeeId, AVG(totalCost - salary) FROM cars, employees WHERE employeeId = employees.id GROUP BY employeeId;
```